.form-box label{
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    padding: var(--gap-1);
}

.form-box input{
    width: 100%;
    background-color: #e6ff94;
    border-radius: var(--br-1);
    height: 2rem;
    border: none
}